.cel{
    width: 350px;
    margin-left: 200px;
}
.personas{
    width: 130px;
}
.txtb{
    color: white;
}
.nina{
    margin-top: 20px;
    margin-left: 100px;
}
.txts{
    font-size: 18px;
}
.divb{
    margin-bottom: 30px;
}
.krypton-footer{
    padding: 50px 40px;
}
.notas{
    width: 250px;
}

.mar{
    padding-right: 50px;
}